.brands
  article.brands__item
    .brands__item-inner
      h3.brands__title Volvo
      a(href="").brands__photo
        img(src="images/brands/b-1.jpg", alt="")
      ul.brands__list
        -var links = ['Сочлененные самосвалы;','Погрузчики;','Экскаваторы;','Асфальтоукладчики;','Экскаваторы– погрузчики;','Самоходные грейдеры;','Колесная дорожная фреза'];
        each link in links
          li.brands__list-item
            a(href="").brands__list-item-link= link
  article.brands__item
    .brands__item-inner
      h3.brands__title Sennebogen
      a(href="").brands__photo
        img(src="images/brands/b-2.jpg", alt="")
  article.brands__item
    .brands__item-inner
      h3.brands__title Goodyear
      a(href="").brands__photo
        img(src="images/brands/b-3.jpg", alt="")
  article.brands__item
    .brands__item-inner
      h3.brands__title SDLG
      a(href="").brands__photo
        img(src="images/brands/b-1.jpg", alt="")
  article.brands__item
    .brands__item-inner
      h3.brands__title FARESIN
      a(href="").brands__photo
        img(src="images/brands/b-2.jpg", alt="")
  article.brands__item
    .brands__item-inner
      h3.brands__title Goldhofer
      a(href="").brands__photo
        img(src="images/brands/b-3.jpg", alt="")