.gallery
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title Volvo
      a(href="album.html").gallery__photo
        img(src="images/brands/b-1.jpg", alt="")
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title Sennebogen
      a(href="album.html").gallery__photo
        img(src="images/brands/b-2.jpg", alt="")
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title Goodyear
      a(href="album.html").gallery__photo
        img(src="images/brands/b-3.jpg", alt="")
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title SDLG
      a(href="album.html").gallery__photo
        img(src="images/brands/b-1.jpg", alt="")
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title FARESIN
      a(href="album.html").gallery__photo
        img(src="images/brands/b-2.jpg", alt="")
  article.gallery__item
    .gallery__item-inner
      h3.gallery__title Goldhofer
      a(href="album.html").gallery__photo
        img(src="images/brands/b-3.jpg", alt="")