.footer{
  background-color: #f2f2f2;
}
.footer__top-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0 27px;
  margin-left: -20px;
}
.footer__menu{
  width: percentage(1/4);
  padding-left: 20px;
  @include media('<800px'){
    width: percentage(1/2);
    padding: 0 10%;
    margin-bottom: 20px;
  }
}
.footer__bottom-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  border-top: 1px solid #e1e1e1;
}