.features
  article.features__item
    .features__item-inner
      p.features__value 475
      h3.features__title Преимущество номер 1
  article.features__item
    .features__item-inner
      p.features__value 251
      h3.features__title Преимущество номер 2
  article.features__item
    .features__item-inner
      p.features__value 782
      h3.features__title Преимущество номер 3
  article.features__item
    .features__item-inner
      p.features__value 374
      h3.features__title Преимущество номер 4