.mobile-nav__toggle-wrapper
  .js-nav-toggle.mobile-nav__toggle
    span.icon-nav toggle menu

// MENU
nav.mobile-nav
  .mobile-nav__icon.js-nav-toggle
    i.sprite-close
  .mobile-nav__inner
    .mobile-nav__block
      h4.mobile-nav__title О комплексе
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') О нас
        li.mobile-nav__item
          a.mobile-nav__link(href='') Наша команда
        li.mobile-nav__item
          a.mobile-nav__link(href='') Лицензии МОЗ
        li.mobile-nav__item
          a.mobile-nav__link(href='') Подарочные сертификаты
        li.mobile-nav__item
          a.mobile-nav__link(href='') Программа лояльности
        li.mobile-nav__item
          a.mobile-nav__link(href='') Правила комплекса
        li.mobile-nav__item
          a.mobile-nav__link(href='') События
        li.mobile-nav__item
          a.mobile-nav__link(href='') Партнеры
        
    .mobile-nav__block
      h4.mobile-nav__title Лечение
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Гастроэнтерология
        li.mobile-nav__item
          a.mobile-nav__link(href='') Лечение позвоночника и суставов
        li.mobile-nav__item
          a.mobile-nav__link(href='') Профилактика заболеваний органов дыхания
        li.mobile-nav__item
          a.mobile-nav__link(href='') Профилактика заболеваний нервной системы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Профилактика аллергий 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Лечение водой "Поляна квасова"
        li.mobile-nav__item
          a.mobile-nav__link(href='') Правила для пациентов
        li.mobile-nav__item
          a.mobile-nav__link(href='') Противопоказания
        
    .mobile-nav__block
      h4.mobile-nav__title Медицинская база
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') УЗИ
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ингаляторий
        li.mobile-nav__item
          a.mobile-nav__link(href='') Колоногидромат
        li.mobile-nav__item
          a.mobile-nav__link(href='') Физиокабинет
        li.mobile-nav__item
          a.mobile-nav__link(href='') Кабинет манипуляций
        li.mobile-nav__item
          a.mobile-nav__link(href='') Массажный кабинет
        li.mobile-nav__item
          a.mobile-nav__link(href='') Озокерит
        li.mobile-nav__item
          a.mobile-nav__link(href='') Соляная пещера
        
    .mobile-nav__block.is--no-title

      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Озонотерапия
        li.mobile-nav__item
          a.mobile-nav__link(href='') Лечебные души
        li.mobile-nav__item
          a.mobile-nav__link(href='') Лечебные ванны
        li.mobile-nav__item
          a.mobile-nav__link(href='') Аромаванны
        li.mobile-nav__item
          a.mobile-nav__link(href='') Фитованны
        li.mobile-nav__item
          a.mobile-nav__link(href='') Кабинеты врачей
   
    .mobile-nav__block
      h4.mobile-nav__title Развлечения
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Экскурсии 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Детская площадка
        li.mobile-nav__item
          a.mobile-nav__link(href='') Детский клуб
        li.mobile-nav__item
          a.mobile-nav__link(href='') Активный фитнес
        li.mobile-nav__item
          a.mobile-nav__link(href='') Фито-бар 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бассейн
        li.mobile-nav__item
          a.mobile-nav__link(href='') Фитнес зал 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бильярд 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Мангальная зона
        li.mobile-nav__item
          a.mobile-nav__link(href='') Зона камина

    .mobile-nav__block
      h4.mobile-nav__title Номера
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Классик
        li.mobile-nav__item
          a.mobile-nav__link(href='') Стандарт твин
        li.mobile-nav__item
          a.mobile-nav__link(href='') Стандарт дабл
        li.mobile-nav__item
          a.mobile-nav__link(href='') Супериор
        li.mobile-nav__item
          a.mobile-nav__link(href='') Полулюкс семейный
        li.mobile-nav__item
          a.mobile-nav__link(href='') Полулюкс
        li.mobile-nav__item
          a.mobile-nav__link(href='') Люкс семейный
        li.mobile-nav__item
          a.mobile-nav__link(href='') Люкс

    .mobile-nav__block.is--empty

    .mobile-nav__block
      h4.mobile-nav__title Сезонные предложения
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ранее бронирование
        li.mobile-nav__item
          a.mobile-nav__link(href='') Твой день рождения в Закарпатье
        li.mobile-nav__item
          a.mobile-nav__link(href='') «Дары Осени»
        li.mobile-nav__item
          a.mobile-nav__link(href='') Скидки от периода проживания
    
    .mobile-nav__block
      h4.mobile-nav__title Акции
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бархатный сезон 
        li.mobile-nav__item
          a.mobile-nav__link(href='') Горящие номера
   
    .mobile-nav__block
      h4.mobile-nav__title СПА
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') "АНТИСТРЕСС"
        li.mobile-nav__item
          a.mobile-nav__link(href='') "СОЛНЕЧНЫЙ" 
        li.mobile-nav__item
          a.mobile-nav__link(href='') "СПИН-ЭФФЕКТ" 
        li.mobile-nav__item
          a.mobile-nav__link(href='') "ХУДЕЕМ ВМЕСТЕ"

    .mobile-nav__block
      h4.mobile-nav__title Цены
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Стоимость путевок
        li.mobile-nav__item
          a.mobile-nav__link(href='') Стоимость медуслуг
        li.mobile-nav__item
          a.mobile-nav__link(href='') Стоимость лечебных пакетов
        li.mobile-nav__item
          a.mobile-nav__link(href='') Другие услуги
        li.mobile-nav__item
          a.mobile-nav__link(href='') Способы оплаты

      h4.mobile-nav__title Корпоративным клиентам
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Конференции и семинары
        li.mobile-nav__item
          a.mobile-nav__link(href='') Корпоративное оздоровление

    .mobile-nav__block.is--no-title
      
      ul.mobile-nav__list.is--special
        li.mobile-nav__item
          a.mobile-nav__link(href='') Галерея
        li.mobile-nav__item
          a.mobile-nav__link(href='') Это интересно
        li.mobile-nav__item
          a.mobile-nav__link(href='') Отзывы о нас
        li.mobile-nav__item
          a.mobile-nav__link(href='') Он-лайн консультация врача
        li.mobile-nav__item
          a.mobile-nav__link(href='') Контакты