// MENU
nav.mobile-nav
  .mobile-nav__inner
    .mobile-nav__header
      .mobile-nav__header-langs
        ul.langs__list
          -var links = [{title:'UA', state:''}, {title:'RU', state:'is--current'}, {title:'EN', state:''}];
          each link in links
            li.langs__item
              a(href="" class="langs__link "+link.state)= link.title
      .mobile-nav__header-search
        a(href="#search")
          i.icon.icon--search
    .mobile-nav__block
      h4.mobile-nav__title О компании
      ul.mobile-nav__list
        -
          var links = [
            {title: 'О компании', url: 'about.html'},
            {title: 'Новости и Акции', url: 'news.html'},
            {title: 'Вакансии', url: 'career.html'},
            {title: 'Фотогалерея', url: 'gallery.html'},
            {title: 'Контакты', url: 'contacts.html'},
          ];
        each link in links
          li.mobile-nav__item
            a(href=link.url).mobile-nav__link= link.title
        
    .mobile-nav__block
      h4.mobile-nav__title Каталог
      ul.mobile-nav__list
        li.mobile-nav__item.with-sub
          a(href="" class="mobile-nav__link") 
            | Каталог техники
          i.fa.fa-angle-down
          .mobile-nav__sub
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Бренды
              ul.mobile-nav__sub-list
                -var links = ['Volvo ce','Terex trucks','Sennebogen','Faresin','Goldhofer','SDLG']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
        li.mobile-nav__item.with-sub
          a(href="" class="mobile-nav__link") 
            | Техника по назначению
          i.fa.fa-angle-down
          .mobile-nav__sub
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Строительная техника
              ul.mobile-nav__sub-list
                -var links = ['Экскаваторы','Погрузчики','Самосвалы']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
                    
              a(href="").mobile-nav__sub-header Подъемные краны
              ul.mobile-nav__sub-list
                -var links = ['Краны экскаваторы','Гусеничные краны','Телескопические краны','Портовые краны','Электрические краны','Краны Senhebohen']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Дорожно-строительная техника
              ul.mobile-nav__sub-list
                -var links = ['Грейдеры','Катки ','Дорожные фрезы Volvo','Асфальтоукладчики Volvo','Выглаживающие плиты']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
              a(href="").mobile-nav__sub-header Сельскохозяйственная техника
              ul.mobile-nav__sub-list
                -var links = ['Телескопические погрузчики','Фронтальные погрузчики','Кормораздатчики','Volvo','Faresin']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Карьерная техника
              ul.mobile-nav__sub-list
                -var links = ['Самосвалы с жесткой рамой','Шарнирно-сочлененные самосвалы','Экскаваторы','Бульдозеры','Фронтальные погрузчики','Автогрейдеры','Навесное оборудование','Volvo','Terex Trucks','Sennebogen','Faresin']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Тралы
              ul.mobile-nav__sub-list
                -var links = ['Goldhofer']
                each link in links
                  li.mobile-nav__sub-item
                    a(href="").mobile-nav__sub-link= link
        li.mobile-nav__item
          a(href="" class="mobile-nav__link") Техника с наработкой
        li.mobile-nav__item.with-sub
          a(href="" class="mobile-nav__link") 
            | Сервис
          i.fa.fa-angle-down
          .mobile-nav__sub
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Запчасти
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Сервис
            .mobile-nav__sub-block
              a(href="").mobile-nav__sub-header Сервисные центры
        li.mobile-nav__item
          a(href="" class="mobile-nav__link") Шиномонтаж
        li.mobile-nav__item
          a(href="" class="mobile-nav__link") Operators Club
