article.news__item
  a(href="").news__photo
    img(src="images/news/n-1.png", alt="")
  h3.news__title VOLVO SERVICES - УМНЫЕ ИНЖЕНЕРНЫЕ РЕШЕНИЯ ПЛЮС РЕШЕНИЯ ДЛЯ БИЗНЕСА
  date.news__date 03/11/2017
  p.news__text Volvo Construction Equipment реализует новый подход к представлению своего широкого ассортимента услуг и решений.
article.news__item
  a(href="").news__photo
    img(src="images/news/n-2.png", alt="")
  h3.news__title В УКРАИНЕ ОТКРЫЛСЯ КЛУБ ОПЕРАТОРОВ ДОРОЖНО-СТРОИТЕЛЬНОЙ ТЕХНИКИ
  date.news__date 14/06/2017
  p.news__text В Украине открылся Клуб Операторов – соревнование операторов дорожно-строительной техники, которое ежегодно проводится…