.offer
  .offer__item(style="background-image: url(images/special/s-2.png);")
    article.offer__content
      h2.offer__title Хотите узнать больше?
      p.offer__body Мы будем рады вам помочь!
      a(href="").btn.btn--large.btn--wide.btn--white.offer__action Контакты