.subject  
  h2.subject__title Сервисные центры
  .subject__inner
    article.subject__item
      .subject__photo
        img(src="images/fitting/f-1.png", alt="")
      .subject__info
        .subject__text Сервисная станция в Краматорске ул. Космонавтов, 2
        .subject__phone 0 800 300 771 / +38 067 353 56 94 
        .subject__name многоканальный бесплатный телефон
    article.subject__item
      .subject__photo
        img(src="images/fitting/f-2.png", alt="")
      .subject__info
        .subject__text Сервисная станция в Краматорске ул. Космонавтов, 2
        .subject__phone +38 050 477-3451
        .subject__name Евгений Свириденко
    article.subject__item
      .subject__photo
        img(src="images/fitting/f-3.png", alt="")
      .subject__info
        .subject__text Сервисная станция в Краматорске ул. Космонавтов, 2
        .subject__phone +38 050 425-2434 
        .subject__name Игорь Бондарев
    article.subject__item
      .subject__photo
        img(src="images/fitting/f-4.png", alt="")
      .subject__info
        .subject__text Сервисная станция в Краматорске ул. Космонавтов, 2
        .subject__phone +38 050 473-2621 
        .subject__name  Алексей Халаим
