.special
  .special__item(style="background-image: url(images/special/s-1.jpg);")
    article.special__content
      h4.special__title Уникальное ценовое предложение
      p.special__body при покупке комплекса для дорожного строительства
      a(href="").special__action узнать больше
      p.special__details Подробности по телефону: 0 800 300 771, +38 067 353 56 94.