.subject  
  h2.subject__title Сотрудники компании
  .subject__inner
    article.subject__item
      .subject__photo
        img(src="images/staff/s-1.png", alt="")
      .subject__info
        .subject__text По вопросам приобретения техники VOLVO, TEREX  
        .subject__phone 0 800 300 771 / +38 067 353 56 94 
        .subject__name многоканальный бесплатный телефон
    article.subject__item
      .subject__photo
        img(src="images/staff/s-3.png", alt="")
      .subject__info
        .subject__text Повопросам послепродажного и сервисного обслуживания  
        .subject__phone +38 050 477-3451
        .subject__name Евгений Свириденко
    article.subject__item
      .subject__photo
        img(src="images/staff/s-2.png", alt="")
      .subject__info
        .subject__text По вопросам приобретения  продукции GoodYear
        .subject__phone +38 050 425-2434 
        .subject__name Игорь Бондарев
    article.subject__item
      .subject__photo
        img(src="images/staff/s-4.png", alt="")
      .subject__info
        .subject__text  По вопросам приобетения  продукции Sennebogen
        .subject__phone +38 050 473-2621 
        .subject__name  Алексей Халаим
