.works
	.works__item
		a(href="").works__item-photo
			img(src="images/works/w-1b.jpg", alt="")
			.works__item-title ДО →
	.works__item
		a(href="").works__item-photo
			img(src="images/works/w-1a.png", alt="")
			.works__item-title ← ПОСЛЕ
	.works__item
		a(href="").works__item-photo
			img(src="images/works/w-1b.jpg", alt="")
			.works__item-title ДО →
	.works__item
		a(href="").works__item-photo
			img(src="images/works/w-1a.png", alt="")
			.works__item-title ← ПОСЛЕ