.callback{
  i{
    display: none;
  }
  @include media('<900px'){
    min-width: 180px;
  }
  @include media('<600px'){
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    width: 36px; height: 36px;
    padding: 0;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;

    span{
      display: none;
    }
    i{
      position: relative;
      display: inline-block;
      font-size: 24px;
      color: $color__secondary;
      z-index: 5;
    }

    &:hover,
    &:focus{
      i{
        color: #fff;
      }
    }
  }

}