.langs{}
.langs__list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
.langs__item{
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 100;
	color: #a2a2a2;

	&:before{
		display: inline-block;
		padding: 0 4px;
		content: '|';
		font-weight: 100;
		color: #a2a2a2;
	}

	&:first-child:before{
		display: none;
	}
}
.langs__link{
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	color: $color__gray;

	&.is--current{
		font-weight: 500;
		color: $color__base;
	}
}
