.nav{
  @include media('<970px'){
    display: none;
  }
}
.nav__inner{
  position: relative;
  z-index: 100;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item{
  &.with-sub{
    .nav__link{
      position: relative;
      padding-right: 40px;
    }
  }
  &:hover{
    .nav__sub{
      @include dropdownHover;
    }
    .nav__link{
      &, &.is--current{
        color: #fff;

        &:after{
          top: 0; left: 0;
          width: 100%;
          height: 100%;
          transform: translate(0,0);
          background-color: $color__secondary;
        }

        transition: all 300ms ease-in-out;
      }
      .icon{
        top:19px;
        @include sprite('arrow-up-white');
      }
    }
  }
}
.nav__link{
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  transition-delay: 150ms;
  text-decoration: none;
  color: $color__base;
  z-index: 0;
  @include media('<1210px'){
    font-size: 14px;
  }
  @include media('<1100px'){
    padding: 15px 6px;
  }

  &:after{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    width: 0; height: 0;
    background: $color__secondary;
    transform: translate(-25%, -25%);
    transition: all 300ms ease-in-out;
    z-index: -1;
  }

  .icon{
    position: absolute;
    right: 14px; top: 20px;
  }
}

.nav__sub{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0; right: 0;
  padding: 40px 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  background-color: #fbfbfb;
  @include dropdown;
}
.nav__sub-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 370px;
}
.nav__sub-header{
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color__base;
}
.nav__sub-list{
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
.nav__sub-item{
  padding: 6px 0;
}
.nav__sub-link{
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
  color: $color__gray;
}