.special{
  max-width: 1180px;
  margin: 0 auto 46px;
}
.special__item{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.special__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 252px;
  @include media('<480px'){
    justify-content: space-around;
  }
}
.special__title{
  margin: 26px 0 11px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: $color__base;
  @include VolvoBroadPro();
  @include media('<600px'){
    margin: 16px 0;
    font-size: 32px;
    line-height: 32px;
  }
  @include media('<480px'){
    margin: 10px 0;
    font-size: 26px;
    line-height: 26px;
  }
}
.special__body{
  max-width: 350px;
  margin: 0 0 26px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $color__base;
  @include media('<600px'){
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }
  @include media('<480px'){
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }
}
.special__details{
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $color__gray;
  @include media('<600px'){
    font-size: 14px;
    line-height: 21px;
  }
}
.special__action{
  margin: 0 0 16px;
  @include media('<600px'){
    min-width: 180px;
    font-size: 14px;
    line-height: 21px;
  }
  @include media('<480px'){
    margin-bottom: 10px;
  }
}