.static-informer{
	margin-bottom: 10px;
}
.static-informer__inner{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-left: -20px;
	margin-bottom: 20px;
}
.static-informer__item{
	padding-left: 20px;
	margin-bottom: 20px;
	width: 50%;
	@include media('<700px'){
		width: 100%;
	}
}
.static-informer__content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	padding: 21px;
	border: 1px solid #e1e1e1;
	background-color: $color__third;
	text-decoration: none;
	transition: border 300ms linear;
	&:hover{
		border: 1px solid $color__primary;
	}
}
.static-informer__photo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	@include media('<1000px'){
		width: 40%;
	}
	@include media('<900px'){
		width: 100%;
		margin-bottom: 16px;
	}
	img{
		max-width: 100%;
	}
}
.static-informer__body{
	flex-grow: 1;
	@include media('<900px'){
		text-align: center;
	}
}
.static-informer__title{
	margin: 0 0 16px;
	@include VolvoBroadPro();
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	color: $color__base;
}
.static-informer__text{
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	color: #010101;
}