extends pug/base

append vars
  - html.classList.push('page page--career')

block content

  .container
    -var links = ['Вакансии']
    include pug/parts/breadcrumbs

    h1.page__title Вакансии

  .page__content
    .container
      img(src="images/career/c-1.jpg", alt="")
      p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" 
  section.section.section--vacancy
    .container
      .career
        .career__item.js-toggle-block
          .career__item-header.js-toggle-switcher
            | Менеджер по продажам
            i.icon.icon--angle-down
          .career__item-content.js-toggle-subject
            .career__desc Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
            // Этот блок с формой есть только в первой вакансии
            .career__form.js-toggle-moving
              include pug/form/vacancy
        - var careers = ['Консультант','Начальник отдела','Механик','Водитель','Секретарь'];
        each career in careers
          .career__item.js-toggle-block
            .career__item-header.js-toggle-switcher
              =career
              i.icon.icon--angle-down
            .career__item-content.js-toggle-subject
              .career__desc Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).

block body-end