extends pug/base

append vars
  - html.classList.push('page page--gallery')

block content
  .container
    -var links = ['Фотогалерея']
    include pug/parts/breadcrumbs

    h1.page__title Фотогалерея

  .section
    .container
      include pug/index/gallery
 
  .section
    .container
      include pug/parts/special

  .section.section--news
    .container
      h2.section__title последние новости
      include pug/parts/news
  
  .section.section--features
    .container
      h2.section__title Основные преимущества ETS
      .section__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической.
      include pug/parts/features

  .section.section--seo
    .container
      include pug/parts/seo
block body-end