extends pug/base

append vars
  - html.classList.push('page page--post')

block content

  .container
    -var links = ['Новости и Акции', 'В Украине открылся клуб операторов дорожно-строительной техники']
    include pug/parts/breadcrumbs

    h1.page__title В Украине открылся клуб операторов дорожно-строительной техники

  .page__content
    .container
        //- Post Date
        .page__date 14/06/2017

        //- Post Content
        img(src="images/post/p-1.jpg", alt="")
        p В 2017 году в Украине открывается Клуб Операторов – соревнование операторов дорожно-строительной техники, которое ежегодно проводится в странах Европы в течение уже более 19 лет.
        p История Клуба началась в 1998 году, когда в немецком городе Нюрнберг подразделение Volvo Construction Equipment Германии организовало и провело первые состязания для операторов.С течением времени география Клуба расширялась. В 2003 году он был открыт в Швейцарии, а к 2011 году состязания между операторами Клуба достигли общеевропейских масштабов. В финале 2013 года уже участвовали операторы из 11 стран Европы, в 2014 году соревнования впервые прошли в 5 городах России, в апреле 2017 года к Клубу присоединилась Грузия. На сегодняшний день Клуб Операторов Volvo Construction Equipment насчитывает более 22 650 участников из 15 стран: Великобритании, Чехии, Дании, России, Нидерландов, Бельгии, Люксембурга, Германии, Франции, Италии, Турции, Швейцарии, Австрии, Польши и Грузии.
        img(src="images/post/p-2.jpg", alt="")
        p Соревнования Клуба Операторов известны своими непростыми и захватывающими испытаниями на дорожно-строительной технике Volvo, где победителем становится оператор, который за минимальное время выполнит предлагаемые задания без ошибок. К тому же, это прекрасная возможность для специалистов, работающих с дорожно-строительной техникой, обмениваться опытом с коллегами.
        p В этом году компания ETS, официальный дилер Volvo Construction Equipment в Украине, объявляет о старте проекта. 10 июня, в 11-00 соревнования впервые будут проведены в Киеве, на территории ВДНХ. Два оператора, которые покажут лучшее время по результатам проведения двух этапов соревнования на экскаваторе-погрузчике и экскаваторе, станут финалистами в Украине. Они получат возможность бороться за чемпионский титул на Европейском финале, который в этом году будет проходить в Испанском городе Аликанте. Помимо участия в соревнованиях Клуба Операторов, финалисты также получат уникальную возможность увидеть старт самой зрелищной гонки Volvo Ocean Race. Регата Volvo Ocean Race – яркое и красочное мероприятие, привлекающее множество посетителей, как интересующихся яхтенным спортом, так и просто зрителей. В специальной «Гоночной деревне» каждый день проходит насыщенная развлекательная программа, включающая целый ряд мероприятий: семинары, концерты, шоу, конкурсы.
        p Стать членом Клуба и принять участие в соревнованиях может каждый оператор, вне зависимости от того, на технике какого производителя он работает. Для этого достаточно заполнить анкету и передать ее администратору на мероприятии, не забыв предъявить действующее удостоверение тракториста-машиниста государственного образца, подтверждающее наличие права на управление дорожно-строительной техникой. При вступлении в Клуб Операторов участник получает карту члена Клуба, дающую ему различные преимущества, такие как приветственный подарок, получение приглашений на выставки спецтехники и, конечно, возможность бороться за титул чемпиона Европы!

        //- Share
        .share
          .share__text Поделиться
          .share__icons
            a(href="").share__item
              i.icon.icon--facebook
            a(href="").share__item
              i.icon.icon--instagram
block body-end