$sprites: (
	"angle-down": (
		normal: (
			x: 34,
			y: 78,
			width: 14,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 68,
			y: 156,
			width: 28,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"angle-up": (
		normal: (
			x: 18,
			y: 78,
			width: 14,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 36,
			y: 156,
			width: 28,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"arrow-down": (
		normal: (
			x: 56,
			y: 60,
			width: 16,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 112,
			y: 120,
			width: 32,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"arrow-up-white": (
		normal: (
			x: 0,
			y: 78,
			width: 16,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 0,
			y: 156,
			width: 32,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"capacity": (
		normal: (
			x: 18,
			y: 60,
			width: 16,
			height: 15,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 36,
			y: 120,
			width: 32,
			height: 30,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"carrying": (
		normal: (
			x: 44,
			y: 22,
			width: 16,
			height: 14,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 88,
			y: 44,
			width: 32,
			height: 28,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"checked": (
		normal: (
			x: 81,
			y: 40,
			width: 8,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 162,
			y: 80,
			width: 16,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"close": (
		normal: (
			x: 0,
			y: 38,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 0,
			y: 76,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"facebook": (
		normal: (
			x: 81,
			y: 20,
			width: 9,
			height: 18,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 162,
			y: 40,
			width: 18,
			height: 36,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"instagram": (
		normal: (
			x: 42,
			y: 38,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 84,
			y: 76,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"next": (
		normal: (
			x: 66,
			y: 0,
			width: 13,
			height: 24,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 132,
			y: 0,
			width: 26,
			height: 48,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"power": (
		normal: (
			x: 81,
			y: 0,
			width: 10,
			height: 18,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 162,
			y: 0,
			width: 20,
			height: 36,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"prev": (
		normal: (
			x: 66,
			y: 26,
			width: 13,
			height: 24,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 132,
			y: 52,
			width: 26,
			height: 48,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"reset": (
		normal: (
			x: 22,
			y: 38,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 44,
			y: 76,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"search-close": (
		normal: (
			x: 44,
			y: 0,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 88,
			y: 0,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"search": (
		normal: (
			x: 0,
			y: 60,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 0,
			y: 120,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"select": (
		normal: (
			x: 36,
			y: 60,
			width: 18,
			height: 10,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 72,
			y: 120,
			width: 36,
			height: 20,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"selected": (
		normal: (
			x: 81,
			y: 50,
			width: 8,
			height: 8,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 162,
			y: 100,
			width: 16,
			height: 16,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"slider-next": (
		normal: (
			x: 22,
			y: 0,
			width: 20,
			height: 36,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 44,
			y: 0,
			width: 40,
			height: 72,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
	"slider-prev": (
		normal: (
			x: 0,
			y: 0,
			width: 20,
			height: 36,
			image: "sprites.png",
			total_width: 91,
			total_height: 86,
		),
		retina: (
			x: 0,
			y: 0,
			width: 40,
			height: 72,
			image: "sprites@2x.png",
			total_width: 182,
			total_height: 172,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
