-
	var products = [
		{
			title: 'Колесный портовый кран 2200',
			properties: [
				'Год выпуска — 2012',
				'Наработка — 80 часов'
			],
		},
		{
			title: 'Кран-экскаватор 300 т',
			properties: [
				'Год выпуска — 2008',
				'Наработка — 1500 часов'
			],
		},
		{
			title: 'Автомобильный кран HPC 40',
			properties: [
				'Год выпуска — 2014',
				'Наработка — 800 часов'
			],
		},
		{
			title: 'Колесный портовый кран 2200',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Кран-экскаватор 300 т',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Автомобильный кран HPC 40',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Колесный портовый кран 2200',
			properties: [
				'Год выпуска — 2012',
				'Наработка — 80 часов'
			],
		},
		{
			title: 'Кран-экскаватор 300 т',
			properties: [
				'Год выпуска — 2008',
				'Наработка — 1500 часов'
			],
		},
		{
			title: 'Автомобильный кран HPC 40',
			properties: [
				'Год выпуска — 2014',
				'Наработка — 800 часов'
			],
		},
		{
			title: 'Колесный портовый кран 2200',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Кран-экскаватор 300 т',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Автомобильный кран HPC 40',
			properties: [
				'Год выпуска — 2016',
				'Наработка — 350 часов'
			],
		},
		{
			title: 'Колесный портовый кран 2200',
			properties: [
				'Год выпуска — 2012',
				'Наработка — 80 часов'
			],
		},
		{
			title: 'Кран-экскаватор 300 т',
			properties: [
				'Год выпуска — 2008',
				'Наработка — 1500 часов'
			],
		},
		{
			title: 'Автомобильный кран HPC 40',
			properties: [
				'Год выпуска — 2014',
				'Наработка — 800 часов'
			],
		}
	];